# Docker Compose environment variables
# Copy this file to .env before running `docker compose up`
#
# Find your local IP:
#   Mac:   ipconfig getifaddr en0
#   Linux: hostname -I

EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP:4000
